<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.LeaveTeacherInfoMapper">

    <!-- 分页获取请假信息 -->
    <select id="selectLeavePage" resultType="java.util.LinkedHashMap">
        select
        li.id,
        li.audit_title,
        li.days,
        li.status,
        li.create_date,
        li.images,
        li.teacher_id,
        li.audit_date,
        ti.code as teacherCode,
        ti.name as teacherName,
        ti.images as teacherImages,
        ti.phone
        from
        leave_teacher_info li
        left join teacher_info ti on
        (ti.id = li.teacher_id)
        where
        1 = 1
        <if test="leaveTeacherInfo.status != null and leaveTeacherInfo.status != ''">
            AND li.status = #{leaveTeacherInfo.status}
        </if>
        <if test="leaveTeacherInfo.teacherName != null and leaveTeacherInfo.teacherName != ''">
            AND ti.name LIKE CONCAT('%',#{leaveTeacherInfo.teacherName},'%')
        </if>
        order by
        li.create_date desc
    </select>
</mapper>
